
/* Medium layout :1280px. */
@media only screen and (min-width:992px) and (max-width:1200px) {
    /*--Action Bar start--*/
    #action_bar_right {
        text-align: center;
        height: 50px;
        padding: 6px;
        background: transparent;
        position: relative;
    }
    /*--Action Bar End--*/

    /*--Navbar Start--*/
    .logo {
        width: 11%;
    }
    .navbar {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: .5rem 5rem!important;
    }
    /*--Navbar End--*/
}



/* Tablet layout :768px. */
@media only screen and (min-width:768px) and (max-width:991px) {
    /*--Action Bar start--*/
    #action_bar_left>h4 {
        text-align: center;
        line-height: 1.0;
        font-size: 13px!important;
        font-weight: 400!important;
    }
    #action_bar_right>.social_icon>i {
        font-weight:900;
        color:#f6f6f6;
        height:34px;
        text-align:center;
        padding:9px;
        width:35px;
        background: #083c3594;
        /* padding: 11px; */
        border-radius: 50%;
    }
    #action_bar_right {
        text-align: center;
        height: 50px;
        padding: 7px;
        background: transparent;
        position: relative;
    }
    /*--Action Bar End--*/

    /*--Navbar Start--*/
    .logo {
        width: 15%;
    }
    #menusection {
        padding: 3px!important;
        margin-bottom: 9px;
    }
    .navbar {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: .5rem 5rem!important;
    }
    /*--Navbar End--*/

    .how-to::before {
        display:none!important;
    }
    .how-to:nth-child(n+2)::before {
        display:none!important;
    }
}


/* Mobile layout :320px. */
@media only screen and (max-width:767px) {
    /*--Action Bar start--*/
    #action_bar_left>h4 {
        text-align: center;
        line-height: 1.0;
        font-size: 12px!important;
        font-weight: 400!important;
    }
    #action_bar_left {
        height:31px;
        padding:8px;
        position:relative;
        background:transparent;
    }
    #action_bar_right>.social_icon>i {
        font-weight: 900;
        color: #f6f6f6;
        font-size: 14px;
        height: 32px;
        text-align: center;
        padding: 9px;
        width: 33px;
        background: #083c3594;
        /* padding: 11px; */
        border-radius: 50%;
    }
    /*--Action Bar End--*/

    /*-- Navbar Start --*/
    .navbar {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: .5rem 1rem!important;
    }
    .logo {
        width: 18%;
    }
    /*--Navbar End --*/


    /*--Banner Part Start--*/
    .portlogo{width: 15%;}
    .banner {
        width: 100%;
        height: 424px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 70%;
        background-image: url(../img/banner.jpg);
    }
    .search-job2 {
        float: left;
        width: 100%;
        background: rgba(255,255,255,0.3);
        -webkit-border-radius: 60px;
        -moz-border-radius: 60px;
        -ms-border-radius: 60px;
        -o-border-radius: 60px;
        border-radius: 32px;
        margin-top: 50px;
        padding: 15px;
    }
    .search-job2 form .row > div:last-child button {
        -webkit-border-radius: 0px 40px 40px 0px;
        -moz-border-radius: 0px 40px 40px 0px;
        -ms-border-radius: 0px 40px 40px 0px;
        -o-border-radius: 0px 40px 40px 0px;
        border-radius: 0px 0px 0px 0px;
    }
    .banner_button {
        width: 100%;
        height: 100%;
        border: 0px solid white;
        background: #20ccd3;
    }
    .banner_button {
        width: 100%;
        height: 100%;
        font-family: Raleway;
        font-weight: 600;
        color: white;
        font-size:15px;
        border: 0px solid white;
        background: #20ccd3;
    }
    .search-job2 form {
        margin: 0;
        background: #ffffff;
        border-radius:0px;
    }
    /*--Banner Part End--*/

    .how-to-sec {
        display: inline-block;
    }
    .how-to {
        display: inline-block;
        float: left;
        width: 100%;
        padding: 0;
        margin-bottom: 40px;
    }
    .how-to:last-child {
        margin: 0;
    }
    .how-to::before {
        display:none!important;
    }
    .how-to:nth-child(n+2)::before {
        display:none!important;
    }
}

/* Wide mobile layout :480px. */
@media only screen and (min-width:480px) and (max-width:767px) {
    /*-- Action Bar start --*/
    .action_bar {
        background: #12a5b0f5;
        min-width: 100%;
        min-height: 50px;
        position: relative;
    }
    #action_bar_left {
        height: 31px;
        position: relative;
        background: transparent;
    }
    #action_bar_left>h4 {
        text-align: center;
        line-height: 1.0;
        font-size: 12px!important;
        font-weight: 400!important;
    }
    #action_bar_right{
        height: 50px;
        background:transparent;
        position: relative;
    }
    #action_bar_right>.social_icon{
        top:50%;
        position: absolute;
        display:block;
        left:50%;
        letter-spacing: 2px;
        transform:translate(-50%,-50%);
    }
    #action_bar_right>.social_icon>i {
        font-weight: 900;
        color: #f6f6f6;
        background: #083c3594;
        padding: 9px;
        border-radius: 50%;
    }
    #action_bar_right>.social_icon>i:hover {
        font-weight: 900;
        color:white;
        background:red;
        font-size:17px;
        padding: 10px;
        border: 2px solid #828175;
        border-radius: 50%;
    }
    /*-- Action Bar End --*/

    /*-- Navbar Start --*/
    .logo {
        width: 18%;
    }
    .navbar {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: .5rem 1rem!important;
    }
    /*-- Nabvar End --*/

    /*-- Banner Search Bar Start--*/
    .search-job2 {
        float: left;
        width: 100%;
        background: rgba(255,255,255,0.3);
        -webkit-border-radius: 60px;
        -moz-border-radius: 60px;
        -ms-border-radius: 60px;
        -o-border-radius: 60px;
        border-radius: 0px;
        margin-top: 50px;
        padding: 15px;
    }
    .search-job2 form .row > div:last-child button {
        -webkit-border-radius: 0px 40px 40px 0px;
        -moz-border-radius: 0px 40px 40px 0px;
        -ms-border-radius: 0px 40px 40px 0px;
        -o-border-radius: 0px 40px 40px 0px;
        border-radius: 0px 0px 0px 0px;
    }
    .banner_button {
        width: 100%;
        height: 100%;
        border: 0px solid white;
        background: #20ccd3;
    }
    .banner_button {
        width: 100%;
        height: 100%;
        font-family: Raleway;
        font-weight: 600;
        color: white;
        font-size: 20px;
        border: 0px solid white;
        background: #20ccd3;
    }
    .search-job2 form {
        margin: 0;
        background: #ffffff;
         border-radius:0px;
    }
    /*-- Banner Search Bar End--*/

    .how-to::before {
        position: absolute;
        left: 50%;
        top: 60px;
        width: 270px;
        height: 36px;
        /* background-image: url(../img/line1.png); */
        content: "";
        z-index: 1;
        margin-left: 51px;
    }
}
